.contmainLegendBtnHover{
    position: relative;
}
.contmainLegendBtnSubmenuHover{
    position: absolute;
    bottom: 150%;
    left: 0%;
    display: none;
    width: 150px;
    border: 2px solid red;
    font-size: 10px;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    align-items: flex-start;
}
.contmainLegendBtnHover:hover .contmainLegendBtnSubmenuHover{
    display: flex;
}