#document-btn{
    font-size: 9px;
    border: 1px solid rgba(0, 0, 0, 0.402);
    color: black;
    height: 25px;
    padding: 0px 2px;
    text-transform: capitalize;
}

.contmain-con{
    background-color: white;
    height: 80vh;
    width: calc(100%-2vw);
    margin: 0px 1vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contmain-top{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}
.contmain-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contmain-bottom{
    display: flex;
    justify-content: space-between;
}


