.contmainDetailBtnHover{
    position: relative;
}
.contmainDetailBtnSubmenuHover{
    position: absolute;
    top: 150%;
    right: 0%;
    display: none;
    width: 235px;
    border: 2px solid red;
    font-size: 10px;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}
.contmainDetailBtnHover:hover .contmainDetailBtnSubmenuHover{
    display: flex;
}

.details-details{
    display: flex;
    justify-content: space-between;
}

.details-eqwidth{
    width: 60px;
    text-align: left;
}
.details-middle{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.details-colon{
    width: 20px;
}
.details-bottom{
    height: 200px;
    overflow-y: scroll;
}