.grid-con{
    width: 100%;
    /* padding-right: 1vw; */
    /* padding-left: 1vw; */
    height: 58vh;
    display: grid;
    gap: 10px;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: 3.5fr 3.5fr;
}
.c1{
    background-color: rgb(255, 255, 255);
    grid-column: 1/2;
    grid-row: 1/2;
    border-radius: 5px;
    padding:5px;
}
.c2{
    background-color: rgb(255, 255, 255);
    grid-column: 1/2;
    grid-row: 2/3;
    border-radius: 5px;
    padding:5px;
}
.c3{
    background-color: rgb(255, 255, 255);
    grid-column: 2/3;
    grid-row: 1/3;
    border-radius: 5px;
}
.c3-alldiv, .c3-overflowitem>div{
    font-size: 10px;
    padding:5px;
    border-bottom: 1px solid black;
}
.c3-overflowitem{
    overflow-y: scroll;
    height: 90%;
}
.c3 div{
    color: rgb(16, 16, 16);
}
#c3-firstdiv{
    color: #515151;
    font-weight: 600;
}
.c3-grid{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
}
.c3-grid sub{
    font-size: 8px;
}
.graph-img{
    width: 35px;
    height: 18px;
}
.graph-img img{
    width: 100%;
    height: 100%;
}

.c1-checkbox{
    font-size: 9px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.c1-checkbox>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.c1-checkbox1{
    padding: 4px;
    background-color: #D85140;
}
.c1-checkbox2{
    padding: 4px;
    background-color: #EBA89F;
}
.c1-checkbox3{
    padding: 4px;
    background-color: #F8E8D6;
}

.c1-top{
    font-size: 11px;
    font-weight: 600;
}

