.titlehead{
    width: 100%;
    height: 8vh;
    padding: 0px 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -6vh;
}
.titlehead-topic{
    text-transform: uppercase;
}
.titlehead-right{
    display: flex;
    gap: 20px;
}

#demo-customized-button{
    font-size: 10px;
    padding: 2px 12px;
    background-color: #0077B6;
}

@media screen and (max-width:700px) {
    .titlehead{
        width: 700px;
        height: 8vh;
        padding: 0px 1vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -6vh;
    }
}